@import url(reset.min.css);

body
{
    background-color: grey;

	font-family:    "tahoma";
	font-size:	    16px;
}

a
{
    color:          #C0C;
}

a:hover
{
    color:          #F0F;
}

h1,h2,h3,h4,h5
{
    text-transform: capitalize;
}

h2,h3,h4,h5
{
	margin:			10px 0;
	margin-bottom:	10px;
}

h1
{
	font-size:	200%;
}

h2
{
	font-size:	170%;
}

h3
{
	font-size:	140%;
}

h4
{
	font-size:	130%;
}

h5
{
	font-size:	120%;
}

p
{
	margin:		1em 0;
}

ol, ul
{
	padding-left:	10px;
	list-style-position:	inside;
}

li
{
    padding-top:    3px;
    padding-bottom: 3px;
}

form
{
    width:      100%;
}

textarea, input
{
    /* Fix some silly broken sizing stuff */
    box-sizing: border-box;

    font-family:    inherit;
    font-size:      inherit;    
}

textarea
{
	width:		100%;
    max-width:  800px;
	height:		400px;
    
}

h1
{
	float:		left;
}

#page
{
    background-color: lightgrey;

	width:		800px;
	margin:		2em auto;
    
   	border:		2px solid black;
	padding:	10px;
}

#actions
{
    margin:     auto;
	float:		right;
}

#content
{
	clear:		both;

	margin-top:	10px;
	border-top:	1px dashed grey;
}

#docinfo
{
	margin-top:	10px;
	padding:	5px;
	border-top:	1px dashed grey;
}

#titleEdit
{
    width:      100%;
    margin-bottom: 5px;
    clear:      both;
}

#titleEdit label
{
    /* The label is for the blind says I! */
    display:      none;
}

#titleEdit input
{
    width:      100%;
}
